@model IEnumerable<Presentación.Models.Salida>

@{
    ViewBag.Title = "Listado de Salidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Salidas</h2>

<p>
    <a class="btn btn-success" title="Crear" href="@Url.Action("Create")"><i class="glyphicon glyphicon-plus"></i> Crear salida</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado)
        </th>
        <th>
            Tipo de Salida
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            Fecha de Salida
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Empleado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tipoSalida)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Motivo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fechaSalida)
    </td>
    <td>
        @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn btn-info glyphicon glyphicon-edit" })
        @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
    </td>
</tr>
    }

</table>
@using (Html.BeginForm("Details", "Home", FormMethod.Get))
{
    <input type="text" class="form-control" name="nombre" placeholder="Buscar" />
}
